.about-container {
    padding: 40px 20px;
    margin: auto;
    margin-top: 50px;
    gap: 25px;
    width: 100%;
    box-shadow: 0px 1px 3px 1px black;
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: fadein 0.5s ease-in-out;

    h1 {
        font-size: 2.5em;
        text-decoration: underline;
    }
    p {
        font-size: 1.5em;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
