.about-container {
    padding: 40px 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    gap: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: fadein 0.5s ease-in-out;

    h1 {
        font-size: 2.5em;
        text-decoration: underline;
    }
    p {
        font-size: 1.5em;
        text-align:justify;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
@media (max-width: 768px) {
    .about-container {
        max-width: 90vw;
    }
}

.coin-container {
    display: flex;
    gap: 50px;
    margin: 50px 0px;
    .coin-2 {
        background-color: lightseagreen;
    }
    .spinning-coin {
        margin: 0px 20px;
        width: 280px;
        height: 280px;
        background-color: orange;
        border-radius: 50%;
        box-shadow: 2px 2px 2px black;
        animation: spin 3s infinite linear;
        transform-style: preserve-3d;
        transform-origin: center;
        text-align: center;
        font-size: 5em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        text-shadow: 2px 2px 2px rgb(0, 0, 0);
    }

    @keyframes spin {
        0% {
            transform: rotateY(0deg);
        }

        100% {
            transform: rotateY(360deg);
        }
    }
}

.money-container {
    padding: 20px;
    background-color: rgb(108, 110, 111);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.money-bag {
    width: 100px;
    height: 120px;
    animation: float 3s infinite ease-in-out;
    overflow: hidden;
    border-radius: 5px;
}
