header {
    background-color: #333;
    padding: 15px;
    box-shadow: 0px 0px 1px 1px rgb(0, 0, 0);
    font-size: 1.2em;
    .header-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        nav {
            display: flex;
            gap: 15px;
            a {
                text-decoration: none;
                &:hover {
                    color: orange;
                }
            }
        }
    }
    h1 {
        color: rgb(214, 214, 214);
        font-weight: 600;
        text-shadow: 2px 2px 2px rgb(0, 0, 0);
    }

    .logo-container {
        display: flex;
        align-items: center;
        gap: 5px;
        img {
            box-shadow: 3px 1px 1px white;
            width: 30px;
            border-radius: 50%;
            &:hover {
                box-shadow: 3px 1px 1px rgb(245, 190, 95);
            }
        }
        img,
        h1 {
            &:hover {
                cursor: pointer;
                scale: 1.05;
                color: orange;
            }
        }
        a {
            display: flex;
            gap: 5px;
            text-decoration: none;
        }
    }
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #333;
}

.menu-icon {
    display: none;
    cursor: pointer;
}
.hamburger-menu {
    &:hover {
        cursor: pointer;
        .bar {
            background-color: orange;
        }
    }
}

.bar {
    width: 35px;
    height: 5px;
    background-color: #fff;
    border-radius: 20px;
    margin: 5px 0;
    transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
    .side-menu {
        background-color: rgb(42, 42, 42);
        position: fixed;
        width: 45vw;
        left: -46vw;
        top: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        box-shadow: 0px 2px 2px 2px black;
        padding-top: 17px;
        z-index: 10;
        a {
            background-color: rgb(42, 42, 42);
            padding: 10px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
            &:hover {
                background-color: #333;
                color: orange;
            }
        }
        text-align: center;
        transition: left 0.5s ease-in-out; /* Update transition property */
    }
    .side-menu.open {
        left: 0;
    }
    .home-container {
        transition: filter 0.5s ease-in-out;
    }
    .home-container.blur {
        filter: brightness(40%);
        pointer-events: none;
    }
}
