.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    font-size: 1.5em;
    h1 {
        font-size: 2.5em;
    }

    .contact-cred {
        display: flex;
        flex-direction: column;
        width: 450px;
        margin: auto;
        p {
            display: flex;
            font-size: 30px;
            span:nth-child(2) {
                font-size: 25px;
            }
            justify-content: space-between;
        }
    }
}
@media (max-width: 768px) {
    .contact-details {
        margin-top: 100px;
        font-size: 1.5em;
        h1 {
            font-size: 2em;
        }
    
        .contact-cred {
            display: flex;
            flex-direction: column;
            width: 350px;
            margin: auto;
            p {
                display: flex;
                font-size: 20px;
                span:nth-child(2) {
                    font-size: 20px;
                }
                justify-content: space-between;
            }
        }
    }
}
