.contact-index{
    .add-contact-link{
        margin: auto;
        width: fit-content;
        background-color: #333;
        padding: 10px;
        margin-top: 20px;
        border-radius: 10px;
        text-decoration: none;
        transition: scale 0.1s ease-in-out;
        &:hover{
            scale: 1.1;
        }
    }
}