.contact-index {
    display: flex;
    flex-direction: column;
}

.contact-list {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    animation: fadein 0.5s ease-in-out;
    margin-bottom: 10vh;
}

.contact-list li {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #575757;
    border-radius: 8px;
    box-shadow: 0px 1px 0px #101010;
    font-size: 20px;
    transition: scale 0.1s ease-in-out;
    a {
        &:hover {
            text-decoration: none;
        }
    }
    img {
        margin-inline-end: 15px;
    }
    &:hover {
        cursor: pointer;
        scale: 1.03;
    }
    button {
        right: 0;
        top: 0;
        position: absolute;
        border: none;
        font-size: 20px;
        border-radius: 0px 10px 0px 15px;
        background-color: #f69292;
        box-shadow: 0px 2px 2px 0px black;
        padding: 0px 10px;
        p {
            font-weight: 700;
            margin-bottom: 5px;
        }
        &:hover {
            background-color: rgb(252, 63, 63);
            color: white;
        }
    }
}

.no-contacts-header {
    margin: 250px 0px;
    font-size: 3em;
    text-align: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    .modal-btns {
        display: flex;
        gap: 5px;
        button {
            border-radius: 5px;
            border: 2px solid black;
            &:hover {
                cursor: pointer;
                filter: brightness(90%);
            }
            font-size: 1.2em;
        }
        button:nth-child(2) {
            background-color: lightcoral;
        }
    }
}

.contact-preview {
    padding: 10px;
}

.custom-modal {
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #333;
    height: fit-content;
    width: 450px;
    margin: auto;
    border: 3px solid black;
    border-radius: 20px;
    z-index: 9999;
}

.custom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9998;
}
@media (max-width: 768px) {
    .contact-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px;
        gap: 10px;
        li {
            display: flex;
            width: 92vw;
            font-size: 1em;
        }
    }
    .custom-modal {
        width: 90vw;
    }
}
