.loader-container {
    width: 100%;
    margin-top: 200px;
}

.coin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.coin {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    animation-name: coin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    background-color: lightseagreen;
}
.coin-2 {
    animation-delay: 0.2s;
}
.coin-3 {
    animation-delay: 0.4s;
}
@keyframes coin {
    0% {
        transform: scale(1);
        background-color: lightseagreen;
    }
    50% {
        background-color: lightcyan;
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        background-color: lightseagreen;
    }
}
